

.parallax-container {
  height: 100vh;
  overflow: auto;
}

.parallax-layer {
  height: 100vh;
  display: flex;
  padding: 10%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #483d3d;
}

