
body {
  text-align: center;
  font-family: antonia-variable, sans-serif;
  font-style: normal;
          font-variation-settings: "opsz" 8, "wght" 200;
}

.parallax-container {
  height: 100vh;
  overflow: auto;
}

.parallax-layer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #8d1818;
}

