
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;}

/* .top-banner-text,
.hidden {
  font-family: "Magda", "sans-serif";
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background-color:  white;
  color:rgb(173, 104, 104);
} */

/* .top-banner::before {
  content: "Foglia, NYC.";
  animation: animate infinite 7s;
  padding-left: 10px;
}

@keyframes animate {

  0% {
    content: "Foglia, NYC.";
  }

  45% {
    content: "Laminated Loaf, Order now.";
  }

  75% {
    content: "Hi there, kombucha anyone?";
  }
} */

